[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/def/start/lightline"]
	path = vim/pack/def/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/def/start/vim-fugitive"]
	path = vim/pack/def/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/def/start/vim-gitgutter"]
	path = vim/pack/def/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/def/start/editorconfig"]
	path = vim/pack/def/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "zsh_files/powerlevel10k"]
	path = zsh_files/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tpm"]
	path = dot.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dot.tmux/plugins/tmux-power"]
	path = dot.tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
[submodule "dot.tmux/plugins/tmux-sensible"]
	path = dot.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
